.navbar 
{
        margin-bottom: 0;
        border-radius: 0;
}

body 
{
    font-size:20px;
    font-family: 'Halvetica';
    color:#85a186; 
    background:#11221b;
}

section, .jumbotron
{
    color:#c3cac3; 
    background:#02110b;
}

h1, h2, h3
{
    font-family: 'Bungee';
    color: #2ab84d;
}

.navbar-default
{
    font-weight: bold;
}

.row.content 
{
    height: 400px;
}
    
.sidenav
{
    padding-top: 5%;
    padding-bottom: 2%;
    background-color: #cfcfcf;
    height: 100%;
    border-radius: 8px;
}

footer
{
    background-color: #363636;
    color: rgb(54, 52, 52);
    padding: 15px;
}

@media screen and (max-width: 767px)
{
    .sidenav
    {
        height: auto;
    }
    .row.content {height:auto;} 
}

#logo
{
    position: absolute;
    width: 200px;
    height: 100px;

    top:10px;
    left:4%;

}

#logo img
{
    max-height:30px;
}

.carousel-caption
{
    color: white;
    font-weight: 900;
}

thead
{
    background-color: lightgray;
}


tbody tr:nth-child(2n) 
{
    background-color: lightgray;
}

.glyphicon {
    color: #e9de4d;
    } 
